.skills__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1220px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.skill__content.html {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.skill__content.html::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-image: conic-gradient(#e44d26 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.html::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.css {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.css::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#33aadd 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.css::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.js {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.skill__content.js::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#f7df1e 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.js::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.react {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.skill__content.react::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#00d8ff 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.react::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.java {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.java::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#e76f00 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.java::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.spring {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.spring::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#70ad51 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.spring::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}
.skill__content.mysql {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.mysql::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#00758f 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.mysql::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.sql {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.sql::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#ffda44 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.sql::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.postgre {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  overflow: hidden;
}

.skill__content.postgre::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#336791 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.postgre::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

.skill__content.mongo {
  position: relative;
  display: flex;
  width: 170px;
  height: 170px;
  background-color: #080d1f;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.skill__content.mongo::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(#70ad51 20deg, transparent 120deg);
  animation: rotar 4s linear infinite;
}

.skill__content.mongo::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 2rem;
  background-color: #080d1f;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* .skill__content span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, transparent, #17f3fd);
  animation: animate_one 2s linear infinite;
}
@keyframes animate_one {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skill__content span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, transparent, #17f3fd);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate_two {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.skill__content span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #17f3fd);
  animation: animate_three 2s linear infinite;
}
@keyframes animate_three {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skill__content span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, transparent, #17f3fd);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate_four {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
} */

.skill__content p {
  z-index: 3;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1rem;
}

.skill__content img {
  z-index: 3;
  width: 70px;
  height: 70px;
  background-color: transparent;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 576px) {
  .skill__content.html {
    width: 130px;
    height: 130px;
  }

  .skill__content.html::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.css {
    width: 130px;
    height: 130px;
  }

  .skill__content.css::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.js {
    width: 130px;
    height: 130px;
  }

  .skill__content.js::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.react {
    width: 130px;
    height: 130px;
  }

  .skill__content.react::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.java {
    width: 130px;
    height: 130px;
  }

  .skill__content.java::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.spring {
    width: 130px;
    height: 130px;
  }

  .skill__content.spring::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.mysql {
    width: 130px;
    height: 130px;
  }

  .skill__content.mysql::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.sql {
    width: 130px;
    height: 130px;
  }

  .skill__content.sql::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.postgre {
    width: 130px;
    height: 130px;
  }

  .skill__content.postgre::after {
    width: 125px;
    height: 125px;
  }

  .skill__content.mongo {
    width: 130px;
    height: 130px;
  }

  .skill__content.mongo::after {
    width: 125px;
    height: 125px;
  }

  .skills__container {
    gap: 1.5rem;
  }

  .skill__content p {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .skill__content img {
    width: 50px;
    height: 50px;
  }
}
